/** Header */ 
body
{
    margin: 5%;
    margin-top: 0;
}

header 
{
    text-align: center;

    svg 
    {
        margin-top: 1em;
    }
    h1 
    {
        color: #D04F4F;
    }
}

#searchBar, #inputSearchBar
{
    background-color: #E7E7E7;
    border: none;
}
#basic-text1
{
    border: none;
    background-color: #E7E7E7;
}

/** Button Filtre */

.btn
 {
     width: 200px;
     overflow: hidden;
     margin: 0.5em;
     margin-left: 0;
     padding: 1em;
     color: white;
     font-size: 18px;
     line-height: 22px;
     border-radius: 5px;
     margin-bottom: 0; }

#filtre
{
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
}

 .fa-chevron-down
 {
     padding-left: 1em;
     font-size: 15px;
     
 }

 #btnIng
 {
    background-color: #3282F7;
    input{
        background-color: #3282F7;
        &::placeholder
        {
            color: white;
        }
    }
 }
 #btnAppareil
 {
    background-color: #68D9A4;
    input 
    {
        background-color: #68D9A4;
        &::placeholder
        {
            color: white;
        }
    }
 }   
 #btnUst
 {
    background-color: #ED6454;
    input {
        background-color: #ED6454;
        &::placeholder
        {
            color: white;
        }
    }
 }

 input {
     border: none;
     color : white;
     width: 100px;
 }

 .ingredients, .ustensils, .appareils
 {
     display: none;
     width: 200px;
     margin: 0.5em;
     color: white;
 }

 #listingIngredients, #listingAppareil, #listingUst
 {
     display: flex;
     flex-wrap: wrap;
     border-radius: 5px;
     margin: 0;
 }

 #listingIngredients
 {
     background-color: #3282F7;

 }

 #listingAppareil
 {
     background-color: #68D9A4;
 }

 #listingUst
 {
     background-color: #D04F4F;
 }

 .tag
 {
    list-style: none;

    img 
    {
        width: 15px;
        color: #3282F7;
        margin-left: 1em;
    }
 }  
/** Main Css */

#cardModel
{
    display: none!important;
}
#mainContent
{
    justify-content: center;
}
.cardClone
{
    height: 364px;
    overflow: hidden;
    padding: 1em;
    border-radius: 5px;
}
.recipeHidden
{
    display: none;
}

.greyContent
{
    background-color: #C7BEBE;
    height: 200px;
    
}
.recipeContent
{
    background-color: #E7E7E7;
    margin: 0;
    height: 200px;
}
.title
{
    display: flex;
    justify-content: space-between;
    margin-top: 0.5em;
}
.titleRecipes
{
    font-size: 18px;
}
.timeRecipes
{
    font-size: 18px;
    font-weight: 700;
    margin-left: 0.5em;
}
.time 
{
    display: flex;
}
.oclock
{
    margin-top: 0.3em;
}
.titleRecipies
{
    font-size: 18px;
}
.listIngredients
{
    font-size: 12px;
    font-weight: 700;
    list-style-type: none;
    padding-right : 1em;
    margin: 0;
    min-width: 50%;
}
.listIngredients > li 
{
    display: flex;
    flex-direction: row;
    font-size: 12px;
    flex-wrap: wrap;
}
.listIngredients > li > p
{
    font-size: 12px;
    margin: 0;

}
.ingredient
{
    display: flex;
    flex-wrap: nowrap;
}

.pRecipes
{
    font-size: 12px;
    padding-right: 1em;
    text-overflow: ellipsis;
    overflow: hidden;
}
.recipesContent
{
    display: flex;
    justify-content: space-between;
}