
/** Header */ 
body
{
    margin: 5%;
    margin-top: 0;
}

header 
{
    text-align: center;

    svg 
    {
        margin-top: 1em;
    }
    h1 
    {
        color: #D04F4F;
    }
}

#searchBar, #inputSearchBar
{
    background-color: #E7E7E7;
    border: none;
}
#basic-text1
{
    border: none;
    background-color: #E7E7E7;
}

/** Button Filtre */
.btnActive
{
    border-bottom-left-radius: 0!important;
    border-bottom-right-radius: 0!important;
    width: 95%!important;
}
.btn
 {
     width: 200px;
     overflow: hidden;
     margin: 0.5em;
     margin-left: 0;
     padding: 1em;
     color: white;
     font-size: 18px;
     line-height: 22px;
     border-radius: 5px;
     margin-bottom: 0; 
     display: flex;
     justify-content: space-between;
    }

#filtre
{
    margin-top: 1em;
    display: flex;
    flex-wrap: nowrap;
    
    .btnContainer
    {
        display: flex;
        flex-direction: column;
        max-width: 55%;
    }
}

 .fa-chevron-down
 {
     padding-left: 1em;
     font-size: 15px;
     
 }

 #btnIng
 {
    background-color: #3282F7;
    justify-content: space-between;

    input{
        background-color: #3282F7;
        &::placeholder
        {
            color: white;
        }
    }
 }
 #btnAppareil
 {
    background-color: #68D9A4;
    input 
    {
        background-color: #68D9A4;
        &::placeholder
        {
            color: white;
        }
    }
 }   
 #btnUst
 {
    background-color: #ED6454;
    input {
        background-color: #ED6454;
        &::placeholder
        {
            color: white;
        }
    }
 }

 input {
     border: none;
     color : white;
     width: 100px;
 }

 .ingredients, .ustensils, .appareils
 {
     display: none;
     min-width: 150px;
     margin: 0.3em;
     margin-right: 0.7em;
     color: white;
 }

 #listingIngredients, #listingAppareil, #listingUst
 {
     display: flex;
     flex-wrap: wrap;
     border-radius: 5px;
     margin: 0;
     padding: 0;
     width: 95%;
     max-height: 300px;
     border-top-left-radius: 0;
     border-top-right-radius: 0;
 }

 #listingIngredients
 {
     background-color: #3282F7;

 }

 #listingAppareil
 {
     background-color: #68D9A4;
 }

 #listingUst
 {
     background-color: #ED6454;
 }

 .tag
 {
    list-style: none;

    img 
    {
        width: 15px;
        color: #3282F7;
        margin-left: 1em;
    }
 }  

  #currentTags
  {
      display: flex;
      padding: 0;
      margin-top: 1em;
      width: 75%;
      flex-wrap: wrap;


      li 
      {
          min-width: 150px;
          text-align: center;
          color: white;
          padding: 0.6em;
          border-radius: 5px;
          margin-right: 0.5em;
          margin-top: 0.5em;

      }
      .ingTag
      {
          background-color: #3282F7;
      }
      .ustTag
      {
          background-color: #D04F4F ;
      }
      .appTag
      {
          background-color: #68D9A4 ;
      }
  }

/** Main Css */

#cardModel
{
    display: none!important;
}
main
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.cardClone
{
    overflow: hidden;
    padding: 1em;
    border-radius: 5px;
    width: 380px;
}
.recipeHidden
{
    display: none;
}

.greyContent
{
    background-color: #C7BEBE;
    height: 170px;
    
}
.recipeContent
{
    background-color: #E7E7E7;
    margin: 0;
    padding-bottom: 0.5em;
}
.title
{
    display: flex;
    justify-content: space-between;
    margin-top: 0.5em;
}
.titleRecipes
{
    font-size: 18px;
}
.timeRecipes
{
    font-size: 18px;
    font-weight: 700;
    margin-left: 0.5em;
}
.time 
{
    display: flex;
}
.oclock
{
    margin-top: 0.3em;
}
.titleRecipies
{
    font-size: 18px;
}
.listIngredients
{
    font-size: 12px;
    font-weight: 700;
    list-style-type: none;
    padding-right : 0.5em;
    margin: 0;
    min-width: 60%;
    line-height: 14px;
    
    .quantity
    {
        font-weight: 400;
    }
}
.listIngredients > li 
{
    display: flex;
    flex-direction: row;
    font-size: 12px;
    flex-wrap: wrap;
}
.listIngredients > li > p
{
    font-size: 12px;
    margin: 0;

}
.ingredient
{
    display: flex;
    flex-wrap: nowrap;
}

.pRecipes
{
    font-size: 12px;
    padding-right: 1em;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 90px;
    transition: 0.8s;
    
    &:hover
    {
        display: block;
        overflow: auto;
        max-height: 500px;
        z-index: 2000;
    }
}


.IngPContainer
{
    display: flex;
    justify-content: space-between;

}

#zeroRecipe
{
    display: none;
}

.zeroRecipeActive
{
    display: block!important;
    margin: 1em;
}